<app-profile-layout>
  <div header class="default-header gap-8">
    <button matIconButton (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
    <h3 class="m-0">Chat Details</h3>
  </div>

  <div lead-body class="d-flex flex-col align-center p-y-8 p-x-16">
    <div class="large-avatar bg-color-primary"></div>
    <h2 class="text-color-primary m-t-4 mb-0">Conversation</h2>
    <p class="text-color-inactive m-t-1">Participants: 3</p>
  </div>

  <div sticky-mid class="d-flex justify-around p-y-2 bg-color-surface p-x-16">
    <button mat-button class="text-color-primary">Files</button>
    <button mat-button class="text-color-inactive">Links</button>
    <button mat-button class="text-color-inactive">Media</button>
  </div>

  <div trailing-body class="p-4 d-flex flex-col gap-4 p-x-16">
    <div class="bg-color-inactive" style="height: 100px; border-radius: 8px;"></div>
    <div class="bg-color-inactive" style="height: 100px; border-radius: 8px;"></div>
    <div class="bg-color-inactive" style="height: 100px; border-radius: 8px;"></div>
    <div class="bg-color-inactive" style="height: 100px; border-radius: 8px;"></div>
    <div class="bg-color-inactive" style="height: 100px; border-radius: 8px;"></div>
    <div class="bg-color-inactive" style="height: 100px; border-radius: 8px;"></div>
    <div class="bg-color-inactive" style="height: 100px; border-radius: 8px;"></div>
    <div class="bg-color-inactive" style="height: 100px; border-radius: 8px;"></div>
  </div>
</app-profile-layout>