<app-list-layout>
  <div header class="default-header">
    <div class="d-flex align-items-center gap-8">
      <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="f-s-18">Contacts</span>
    </div>
  </div>

  <div body class="p-y-4 p-x-4">
    @if (contacts.isLoading()) {
      <div class="p-16 text-center text-color-second">
        Loading contacts...
      </div>
    } @else {
      <app-users-list
        [userProfiles]="contacts.value() || []"
        [selectionMode]="selectionMode()"
        [(selectedProfiles)]="selectedContacts"
      />
      @if (!selectionMode()) {
        <button matFab extended class="invite-button" (click)="openInviteDialog()">
            <mat-icon>person_add</mat-icon>
            <span>Add friends</span>
        </button>
      }
    }

  </div>
</app-list-layout>