<app-list-layout>
  <div header class="default-header">
    <div class="d-flex align-items-center gap-8">
      <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="f-s-18">Contacts</span>
    </div>
  </div>

  <div body class="p-y-4 p-x-4">
    @if (contacts.isLoading()) {
      <div class="p-16 text-center text-color-second">
        Loading contacts...
      </div>
    } @else {
      @for (contact of contacts.value() || []; track contact.id) {
      <div class="d-flex align-items-center p-16 contact-item cursor-pointer"
           (click)="handleContactClick(contact.id)"
           (keyup.enter)="handleContactClick(contact.id)"
           tabindex="0">
        @if (selectionMode()) {
          <mat-checkbox
            [checked]="selectedContacts().includes(contact.id)"
            (change)="toggleSelection(contact.id)"
            (click)="$event.stopPropagation()"
            class="m-r-16" />
        }
        @if (contact.avatarUrl) {
            <img [src]="contact.avatarUrl" class="avatar" alt="avatar" referrerpolicy="no-referrer" />
        } @else {
            <div class="avatar default-avatar"></div>
        }
        <div class="d-flex flex-col m-l-16">
          <span>{{ contact.localName || contact.username }}</span>
        </div>
      </div>
      } @empty {
      <div class="p-16 text-center text-color-second">
        No contacts found.
      </div>
      }
      @if (!selectionMode()) {
        <button matFab extended class="invite-button" (click)="openInviteDialog()">
            <mat-icon>person_add</mat-icon>
            <span>Invite friends</span>
        </button>
      }
    }

  </div>
</app-list-layout>