:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--mat-sys-surface);
}

.sticky-header {
  top: 0;
  z-index: 100;
  min-height: calc(var(--header-height) + env(safe-area-inset-top));
  padding-top: env(safe-area-inset-top);
  background-color: var(--mat-sys-background);
}

.sticky-mid-shell {
  top: calc(var(--header-height) + env(safe-area-inset-top)); /* Accounts for header height if header is visible simultaneously */
  z-index: 90;
  background-color: var(--mat-sys-background);
  border-bottom: 1px solid var(--mat-sys-outline-variant);
}