<div class="d-flex w-full h-full">
    <mat-card class="m-auto text-center" style="max-width: 400px">
        <mat-card-header>
            <mat-card-title>Welcome to FourLetters!</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <p class="m-b-16">Your secure, open-source messaging client.</p>
            <p class="m-b-16">Please log in to start chatting.</p>
            <button matButton color="primary" routerLink="/auth/login">Go to Login</button>
        </mat-card-content>
    </mat-card>
</div>